.author-channels__wrapper {
	padding: 50px 30px 40px 50px;
}

.breadcrumbs {
	margin-bottom: 30px;

	&__item {
		color: #132143;
	}
	&__item--prev {
		position: relative;
		margin-right: 10px;
		opacity: 0.4;

		&::after {
			content: '/';
			position: absolute;
			top: 50%;
			right: -10px;
			transform: translateY(-50%);
		}
	}
	&__item--current {
	}
}

.channels {
	&__table {
		width: 100%;
		border-collapse: collapse;
		border-radius: 10px;
		box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

		td {
			font-size: 18px;
			padding: 20px 50px 20px 0;
			vertical-align: middle;
		}
		td:first-child,
		th:first-child {
			padding-left: 20px;
		}
		td:last-child,
		th:last-child {
			padding-right: 120px;
		}
	}
	&__table-head {
		th {
			padding: 20px 0;
			text-align: left;
			font-size: 20px;
			font-weight: 700;
		}
	}
	&__table-body {
		tr {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		tr:last-child {
			margin-bottom: 80px;
		}
	}

	&__project {
		img {
			max-width: 40px;
			max-height: 40px;
		}
	}
	&__project-info {
	}
	&__project-title {
	}
	&__project-description {
	}
}
