@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700);

@import './base/*.scss';
@import './blocks/*.scss';
@import './pages/*.scss';

body {
	font-family: 'Open Sans', sans-serif;
	background: #dce8f6;
	color: #333;
}
