.header {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;

	&__page-left {
		display: flex;
		align-items: center;
		gap: 22px;
	}

	&__page-info {
		margin-top: 30px;
	}

	&__page-title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__menu-list {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__menu-item {
		font-size: 18px;
		position: relative;

		svg {
			transition: transform 0.1s linear;
		}
		
		&:hover svg {
			transform: rotateZ(180deg);
		}

		&:hover .header__submenu {
			display: block;
		}
	}

	&__submenu {
		display: none;
		position: absolute;
		top: 25px;
		left: -15px;
		overflow: hidden;
		padding: 0 30px;
		border-radius: 5px;
		background: #fff;
		transition: height 0.1s;
		min-width: 150px;

		li {
			padding: 20px 0;
			font-size: 16px;
		}

		li:not(:last-child) {
			border-bottom: 1px solid #eeecfb;
		}

		li:hover {
			color: #24cffb;
		}
	}
}

.header__inner {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	max-height: 70px;
	padding: 10px 20px;
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 35px;
}

// .header__menu {
// }

// .header__menu-list {
// 	display: flex;
// 	align-items: center;
// 	gap: 15px;
// }

// .header__menu-item {
// }

// .header__menu-item-name {
// 	color: #24cffb;
// 	margin-bottom: 5px;
// }

// .header__menu-drop-down {
// 	display: flex;
// 	align-items: center;
// 	gap: 5px;
// 	font-size: 18px;
// 	font-weight: 600;
// }

.header__account {
}

/* =========== Account =========== */

.account {
	display: flex;
	align-items: center;
	gap: 20px;
}

.account__body {
	display: flex;
	align-items: center;
	gap: 10px;
}

.account__avatar {
}
.account__info {
	text-wrap: pretty;
}
.account__name {
	color: #5250d5;
	margin-bottom: 5px;
}
.account__link {
	font-weight: 600;
}
