@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,regular,500,700,800);

html,
body {
	height: 100%;
}

body {
	font-family: 'Fira Sans';
	background-color: #0c1117;
	color: #fff;
}

body.scrollable {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.container {
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 20px;
}

/* - - - - - - - Components - - - - - - - */
.burger {
	display: none;
}

@media (max-width: 1198.98px) {
	.burger {
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	.burger span {
		width: 30px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		transition: transform 0.3s;
	}
	.burger span:nth-of-type(2) {
		top: calc(50% - 7px);
	}
	.burger span:nth-of-type(3) {
		top: calc(50% + 7px);
	}

	.burger.active span:nth-of-type(1) {
		display: none;
	}
	.burger.active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(45deg);
	}
	.burger.active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(-45deg);
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 9px 25px;
	border-radius: 30px;
	background-color: #003adb;
	box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: #002896;
}

/* - - - - - - - Header - - - - - - - */
.header {
	padding-top: 48px;
}

.header__container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 20px;
}

/* - - - - - - - Nav - - - - - - - */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__logo {
	margin-right: 40px;
}

.nav__links {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

@media (max-width: 1198.98px) {
	.nav__links {
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		background-color: rgba(0, 0, 0, 0.9);
		gap: 45px;
		flex-wrap: nowrap;
		overflow: auto;
	}

	.nav.active .nav__links {
		transform: translateX(0);
	}
}

.nav__links-item {
	font-size: 20px;
	font-weight: 500;
	transition: color 0.1s linear;
}

.nav__links-item:hover {
	color: #003adb;
}

@media (max-width: 1198.98px) {
	.nav__links-item {
		font-size: 24px;
	}
}

/* - - - - - - - Hero - - - - - - - */
.hero {
	position: relative;
	padding: 180px 0 117px 0;
}

.hero__inner {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero__img {
	position: absolute;
	top: 150px;
	right: 0;
}

.hero__body {
	flex: 0 0 670px;
}

.hero__title {
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 700;
	margin-bottom: 30px;
}

.hero__subtitle {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 140%;
	margin-bottom: 60px;
}

.hero__learn-more {

}
