@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,regular,500,700,800);

html,
body {
	height: 100%;
}

body {
	font-family: 'Fira Sans';
	background-color: #0c1117;
	color: #fff;
}

body.scrollable {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.container {
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 20px;
}

/* - - - - - - - Components - - - - - - - */
.burger {
	display: none;
}

@media (max-width: 1198.98px) {
	.burger {
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	.burger span {
		width: 30px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		transition: transform 0.3s;
	}
	.burger span:nth-of-type(2) {
		top: calc(50% - 7px);
	}
	.burger span:nth-of-type(3) {
		top: calc(50% + 7px);
	}

	.burger.active span:nth-of-type(1) {
		display: none;
	}
	.burger.active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(45deg);
	}
	.burger.active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(-45deg);
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 9px 25px;
	border-radius: 30px;
	background-color: #003adb;
	box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: #002896;
}

.section-title {
	color: #fff;
	font-size: 48px;
	font-weight: 500;
}

@media (max-width: 1198.98px) {
	.section-title {
		font-size: 42px;
	}
}
@media (max-width: 424.98px) {
	.section-title {
		font-size: 36px;
	}
}

/* - - - - - - - Header - - - - - - - */
.header {
	padding-top: 48px;
}

.header__container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 20px;
}

/* - - - - - - - Nav - - - - - - - */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__logo {
	margin-right: 40px;
}

.nav__links {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

@media (max-width: 1198.98px) {
	.nav__links {
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		background-color: rgba(0, 0, 0, 0.9);
		gap: 45px;
		flex-wrap: nowrap;
		overflow: auto;
	}

	.nav.active .nav__links {
		transform: translateX(0);
	}
}

.nav__links-item {
	font-size: 20px;
	font-weight: 500;
	transition: color 0.1s linear;
}

.nav__links-item:hover {
	color: #003adb;
}

@media (max-width: 1198.98px) {
	.nav__links-item {
		font-size: 24px;
	}
}

/* - - - - - - - Hero - - - - - - - */
.hero {
	position: relative;
	padding: 180px 0 80px 0;
}
@media (max-width: 1198.98px) {
	.hero {
		padding: 100px 0 117px 0;
	}
}

.hero__inner {
	display: flex;
	align-items: center;
	gap: 20px;
}

@media (max-width: 1198.98px) {
	.hero__inner {
		flex-direction: column;
	}
}

.hero__img {
	position: absolute;
	right: 0;
}

@media (max-width: 1780px) {
	.hero__img img {
		max-width: 800px;
	}
}
@media (max-width: 1530px) {
	.hero__img img {
		max-width: 500px;
	}
}
@media (max-width: 1198.98px) {
	.hero__img img {
		max-width: 100%;
	}
	.hero__img {
		position: static;
	}
}

.hero__body {
	flex: 0 0 670px;
}

@media (max-width: 1198.98px) {
	.hero__body {
		flex: 0 0 100%;
	}
}

.hero__title {
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 700;
	margin-bottom: 30px;
}

@media (max-width: 1198.98px) {
	.hero__title {
		font-size: 75px;
	}
}
@media (max-width: 991.98px) {
	.hero__title {
		font-size: 65px;
	}
}
@media (max-width: 767.98px) {
	.hero__title {
		font-size: 55px;
	}
}

.hero__subtitle {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 140%;
	margin-bottom: 60px;
}
@media (max-width: 1198.98px) {
	.hero__subtitle {
		font-size: 18px;
	}
}
@media (max-width: 991.98px) {
	.hero__subtitle {
		font-size: 16px;
	}
}
@media (max-width: 767.98px) {
	.hero__subtitle {
		font-size: 14px;
	}
}

.hero__learn-more {
	margin-bottom: 30px;
}

/* - - - - - - - What-we-do - - - - - - - */
.what-we-do {
	padding: 120px 0 80px 0;
}
@media (max-width: 1198.98px) {
	.what-we-do {
		padding: 0px 0 80px 0;
	}
}
.what-we-do__title {
	text-align: center;
	margin-bottom: 80px;
}
.what-we-do__body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

@media (max-width: 1198.98px) {
	.what-we-do__body {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 991.98px) {
	.hero__subtitle {
		font-size: 16px;
	}
}
@media (max-width: 767.98px) {
	.what-we-do__body {
		grid-template-columns: repeat(1, 2fr);
	}
}

.what-we-do-card {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 35px 20px;
	border-radius: 4px;
	background-color: #1b2837;
	overflow: hidden;
}

.what-we-do-card:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 130px;
	height: 120px;
	border-radius: 69.5px 0px 4px 4px;
	background: #003adb;
	transition: all 0.2s ease-in-out;
}

.what-we-do-card:hover:after {
	width: 300px;
	height: 320px;
	border-radius: 50% 0 0 0;
}

.what-we-do-card__title {
	margin-bottom: 35px;
	z-index: 2;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	color: #f8f9fa;
}
.what-we-do-card__text {
	z-index: 2;
	margin-bottom: 35px;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color: #f8f9fa;
}

.what-we-do-card__link {
	z-index: 2;
	margin-bottom: 40px;
	color: #f8f9fa;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	text-decoration: underline !important;
}

.what-we-do-card__icon {
	z-index: 2;
	margin-left: auto;
}

.what-we-do-solutions {
	padding: 60px 0 0 60px;
}
@media (max-width: 767.98px) {
	.what-we-do-solutions {
		padding: 40px 0 0 40px;
	}
}
.what-we-do-solutions__title {
	margin-bottom: 14px;
	font-size: 32px;
	font-weight: 700;
	line-height: 143%;
	letter-spacing: 0.32px;
	color: #fff;
	text-transform: uppercase;
}

.what-we-do-solutions__text {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 300;
	line-height: 140%;
	color: #fff;
}

.what-we-do-solutions__learn-more {
}

/* - - - - - - - Our-works - - - - - - - */
.our-works {
	padding: 40px 0 227px 0;
}

.our-works__title {
	text-align: left;
	margin-bottom: 80px;
}

.our-works__row {
	display: grid;
	grid-template-columns: 24% 48% 24%;
	gap: 20px;
}

@media (max-width: 767.98px) {
	.our-works__row {
		grid-template-columns: repeat(1, 1fr);
	}
}

.our-works__row-item {
}

.our-works__row-item img {
	max-width: 100%;
	width: 100%;
	max-height: 350px;
	border-radius: 10px;
	object-fit: cover;
}

.our-works__row_modified {
	margin-top: 20px;
	grid-template-columns: 27% 21% 49%;
}

@media (max-width: 767.98px) {
	.our-works__row_modified {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* - - - - - - - Not-impressed - - - - - - - */
.not-impressed {
}

.not-impressed__title {
	font-size: 32px;
	font-weight: 700;
	line-height: 143%;
	letter-spacing: 0.32px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

@media (max-width: 991.98px) {
	.not-impressed__title {
		font-size: 24px;
		margin-bottom: 15px;
	}
}

.not-impressed__text {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 140%;
	margin-bottom: 45px;
}
@media (max-width: 991.98px) {
	.not-impressed__text {
		font-size: 16px;
		margin-bottom: 25px;
	}
}

.not-impressed__see-more {
}

/* - - - - - - - Stats - - - - - - - */
.stats {
	padding: 90px 0 110px 0;
	margin-bottom: 110px;
	background: #2b61f7;
}
@media (max-width: 767.98px) {
	.stats {
		padding: 50px 0;
	}
}

.stats__row {
	display: flex;
	justify-content: space-around;
}
@media (max-width: 767.98px) {
	.stats__row {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 30px;
	}
}

.stats__col {
	flex: 0 0 110px;
}

.stats__number {
	font-size: 48px;
	font-weight: 700;
	line-height: 143%;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

@media (max-width: 991.98px) {
	.stats__number {
		font-size: 42px;
	}
}
@media (max-width: 767.98px) {
	.stats__number {
		text-align: center;
	}
}

.stats__title {
	color: #8fc2ff;
	font-size: 24px;
	font-weight: 700;
	line-height: 143%;
	letter-spacing: 0.24px;
	text-transform: uppercase;
}

@media (max-width: 991.98px) {
	.stats__title {
		font-size: 20px;
	}
}
@media (max-width: 767.98px) {
	.stats__title {
		text-align: center;
	}
}

/* - - - - - - - Testimonials - - - - - - - */
.testimonials {
	margin-bottom: 210px;
}

/* - - - - - - - Slider - - - - - - - */
.slider {
	height: 550px;
	overflow: hidden;
}
@media (max-width: 991.98px) {
	.slider {
		height: auto;
	}
}

.slider__item {
	display: flex !important;
}

@media (max-width: 991.98px) {
	.slider__item {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.slider__item img {
	margin-right: 70px;
	min-height: 517px;
	max-width: 100%;
	object-fit: cover;
	border-radius: 4px 90px 4px 4px;
}
@media (max-width: 1199.98px) {
	.slider__item img {
		margin-right: 40px;
	}
}
@media (max-width: 991.98px) {
	.slider__item img{
		width: 400px;
		min-height: 100px;
	}
}

.slider__item-body {
	padding-top: 40px;
	max-width: 660px;
}
@media (max-width: 1400px) {
	.slider__item-body {
		max-width: 450px;
	}
}
@media (max-width: 1199.98px) {
	.slider__item-body {
		max-width: 350px;
	}
}

.slider__item-title {
	margin-bottom: 35px;
}

.slider__item-name {
	color: #d0d0d0;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 8px;
}

.slider__item-job {
	color: #727272;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 16px;
}

.slider__item-text {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 140%;
	opacity: 0.8;
}
@media (max-width: 1199.98px) {
	.slider__item-text {
		font-size: 18px;
	}
}

.slider__item-text:not(:last-child) {
	margin-bottom: 25px;
}

.swiper-pagination {
	width: 40px !important;
	text-align: center;
}

.swiper-pagination-bullet {
	position: relative !important;
	width: 2px !important;
	height: 80px !important;
	border-radius: 5px !important;
	background-color: #fff !important;
}

@media (max-width: 1199.98px) {
	.swiper-pagination-bullet {
		display: none !important;
	}
}

.swiper-pagination-bullet:not(:last-child) {
	margin-bottom: 5px !important;
}

.swiper-pagination-bullet-active {
	background-color: #003adb !important;
}

.start-slides {
	position: absolute;
	top: -50px;
	right: 25px;
	font-size: 32px;
	font-weight: 700;
}

.end-slides {
	position: absolute;
	bottom: -50px;
	right: 25px;
	font-size: 32px;
	font-weight: 700;
}

/* - - - - - - - Our-team - - - - - - - */
.our-team {
	margin-bottom: 152px;
}

.our-team__title {
	text-align: left;
	margin-bottom: 120px;
}

@media (max-width: 639.98px) {
	.our-team__title {
		margin-bottom: 60px;
	}
}

/* - - - - - - - Row-our-team - - - - - - - */
.row-our-team {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}
@media (max-width: 1199.98px) {
	.row-our-team {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 639.98px) {
	.row-our-team {
		grid-template-columns: repeat(1, 1fr);
	}
}

.row-our-team__item {
	position: relative;
}

.row-our-team__item img {
	border-radius: 5px;
	min-width: 100%;
	object-fit: cover;
}

.row-our-team__item:hover .row-our-team__more {
	opacity: 1;
}

.row-our-team__more {
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 5px;
	padding: 50px 30px;
	opacity: 0;
	background: #2B61F7;
	text-align: center;
	transition: opacity .3s ease-in-out;
}

.row-our-team__name {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 15px;
}

.row-our-team__job {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 60px;
}

.row-our-team__text {
	font-size: 18px;
	font-weight: 300;
	line-height: 155.556%;
}

/* - - - - - - - Blog - - - - - - - */
